<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200875639219-tts6q1jljtqmm8q1t19941upq95chrlt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200875639219-tts6q1jljtqmm8q1t19941upq95chrlt</string>
	<key>API_KEY</key>
	<string>AIzaSyBaR12iC9ph6lvWk2hNAHD79eag2pk5eOk</string>
	<key>GCM_SENDER_ID</key>
	<string>200875639219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devfestFlavorDemo.sit</string>
	<key>PROJECT_ID</key>
	<string>fir-app-ce55c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-ce55c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200875639219:ios:26aeff508a3f17ff584bc6</string>
</dict>
</plist>